sentencepiece
datasets==2.15
tokenizers
zstandard
pygments
dirtyjson
GitPython
tensorboard
dirhash
bleu
lizard
koda
sh
scipy
pytest
iobes
seqeval
editdistance
pathos
pytmpfile
libclang
transformers
lm_dataformat